
<html>
    <head>
        <link href="/practica_21/public/style.css" type="text/css"   rel="stylesheet" >
        <title>Inicio</title>
    </head>
    <body>
        <h1>¡Bienvenid@!</h1>
        <h2>¿Qué desea hacer a continuación?</h2>
        <a href="person">Agregar una nueva persona</a>
        <br><br>
        <a href="listado">Ver el listado de personas registradas</a>
        <br><br>


    </body>
    </html>