<html>
    <head>
        <link href="assets/style.css" type="text/css"   rel="stylesheet" >
        <title>Listado</title>
    </head>
    <body>
        <h1>Aquí se muestra el listado de las personas registradas</h1>
       
        <a href="inicio">Volver al inicio</a>
        
    </body>
    </html>