<html>
    <head>
        <link href="assets/style.css" type="text/css"   rel="stylesheet" >
        <title>Listado</title>
    </head>
    <body>
        <h1>Aquí se muestra el listado de las personas registradas</h1>
        <table class="default">

            <tr>
              <th>NSS</th>
              <th>Nombre</th>
              <th>Apellido</th>
              <th>Edad</th>
              <th>Tipo de Sangre</th>
            </tr>
        </table>

        
          
         
        <a href="inicio">Volver al inicio</a>
        
    </body>
    </html>